<div class="container">
  <h3> Add your content here! </h3>
  <% @user.albums.each do |album| %>
    <%= album.name %>

    <form action="/upload_photo" enctype="multipart/form-data" method="post">
      <input type="file" name="filename">
      <input type="submit" name="submit!" value="Upload!">
    </form>
  <% end %>

</div>